doctype html
html
  head
    title  Alekh's Dance Academy
    block scripts
    block style
  body
    nav#navbar 
        ul             
            div#logo  
                img(src="../static/img/logo1.png")
                | ADC
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/service") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Conact Us]
    block content
    block foot
      #footer 
        | Copyright @ 2021 AlekhDanceAcademy.com  | All rights reserved
      