extends base.pug

block scripts
  script(src='../static/index.js')

block style 
    style
      include ../static/style.css
      include ../static/styleService.css
      
block content
        div.container
            h1 Our Services 
            ul 
                li we provide folk dance performance for functions
                li orgnazise danceshows for tv
                li dance models for special parties 
                li road shows for charity supports 
                li promote student to different dance shows 